.navbar {
  width: 100%;
  height: 75px;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 200px;
}

@media screen and (max-width: 1075px) {
  .navbar {
    height: 55px;
    padding: 0 15px;
  }
}

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
}

@media screen and (max-width: 900px) {
  .navbar-container {
    height: 100vh;
    width: 450px;
    z-index: 10;
    margin-right: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.navlink {
  text-decoration: none;
}

.navlink2 {
  display: none;
}

@media screen and (max-width: 900px) {
  .navlink2 {
    display: block;
  }
}

.navbar-right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

@media screen and (max-width: 900px) {
  .navbar-right-side {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.navbar-spotify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  gap: 0.4rem;
}

.navbar-spotify .icon {
  font-size: 2.5rem;
}

@media screen and (max-width: 900px) {
  .navbar-spotify .icon {
    font-size: 2rem;
  }
}

.navbar-spotify p {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
}

@media screen and (max-width: 900px) {
  .navbar-spotify p {
    font-size: 1rem;
  }
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

@media screen and (max-width: 900px) {
  .nav-menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (70px)[3];
        grid-template-rows: repeat(3, 70px);
  }
}

.nav-menu li {
  margin-left: 2rem;
  font-weight: 600;
}

@media screen and (max-width: 900px) {
  .nav-menu li {
    font-size: 2rem;
  }
}

.navlink-menu {
  text-decoration: none;
  color: white;
}

.navlink-menu:hover {
  color: #20d55f;
}

.link-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  gap: 2rem;
}

@media screen and (max-width: 900px) {
  .link-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.link-menu a {
  color: rgba(255, 255, 255, 0.833);
  text-decoration: none;
  font-weight: 600;
}

.link-menu a:hover {
  color: #20d55f;
}

@media screen and (max-width: 900px) {
  .link-menu a {
    font-size: 2rem;
    font-weight: 100;
  }
}

.slash {
  width: 2px;
  height: 20px;
  background-color: white;
}

@media screen and (max-width: 900px) {
  .slash {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.bars-icon {
  display: none;
  font-size: 1.5rem;
  position: absolute;
  right: 15px;
  top: 15px;
}

@media screen and (max-width: 900px) {
  .bars-icon {
    display: block;
  }
}

.close-btn {
  display: none;
  font-size: 2rem;
  position: absolute;
  right: 15px;
  top: 15px;
  min-height: 20px;
}

@media screen and (max-width: 900px) {
  .close-btn {
    display: block;
  }
}
/*# sourceMappingURL=navbar.css.map */